[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
django = "*"
gunicorn = "*"
shiv = "*"
graphene-django = "*"
whitenoise = {version = "*", extras = ["brotli"]}
"psycopg2" = "*"
django-crispy-forms = "*"
cryptography = "*"

[requires]
python_version = "3.6"
